.user-each-photo-favorite {
    width: 400px;
    height: 325px;
    object-fit: cover;
    object-position:top;
    padding-left: 5px;
}

.user-each-photo-favorite:hover {
    transform: scale(1.10);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
