/* TODO Add site wide styles */
body {
    margin: 0;
    background-color: rgb(224, 224, 224);
}

#root {
    font-family: Helvetica, sans-serif, Arial
}

#modal-content {
    border-radius: 5px;
}

.errors-map {
    font-size: 13px;
    color: red;
    font-weight: bold;
    height: 25px;
}
