.whole-error-page-container {
    background-size: cover;
    background-image: url("https://freefrontend.com/assets/img/html-css-404-page-templates/HTML-404-Typed-Message.gif");
    height: 93.7vh;
    background-position: center;
    margin-top: 50px;
    padding: 5px;
    background-color: rgb(212, 210, 210);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-home-link {
    text-decoration: none;
    /* border: 2px solid white; */
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    margin-top: 35px;
    background-color: rgb(56, 56, 56);
    border-radius: 5px;
}

.error-home-link:hover {
    background-color: rgb(235, 235, 235);
    color: black;
}
