.whole-comments-container {
    margin-top: 20px;
}

.comment-information {
    max-width: 525px;

}

.flex-comment-div {
    display: flex;
    margin-bottom: 15px;
}

.right-comment-side {
    margin-left: 20px;
}

.name-buttons-container {
    display: flex;
}

.comment-name-info {
    width: 200px;
    color: #128FDC;
    cursor: pointer;
}

.comment-name-info:hover {
    text-decoration: underline;
}

.edit-delete-comment-button {
    margin-left: 295px;
}

.edit-comment-button {
    margin-right: 1px;
    color: rgb(168, 168, 168);
    cursor: pointer;
}

.delete-comment-modal {
    border: none;
    color: rgb(168, 168, 168);
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
}

.actual-comment {
    width: 540px;
    word-wrap: break-word;
}
