.whole-comments-container {
    margin-top: 20px;
}

.comment-information {
    max-width: 525px;

}

.flex-comment-div {
    display: flex;
    margin-bottom: 15px;
}

.flex-comment-div:hover {
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}

.right-comment-side {
    margin-left: 20px;
}

.name-buttons-container {
    display: flex;
}

.comment-name-info {
    color: #006DAC;
}

.edit-delete-comment-button {
    margin-left: 325px;
}

.edit-comment-button {
    margin-right: 1px;
    color: gray;
    cursor: pointer;
}

.delete-comment-modal {
    border: none;
    color: gray;
    font-size: 15px;
    cursor: pointer;
}

.actual-comment {
    width: 450px;
    word-wrap: break-word;
}
