.user-header-container {
    margin-top: 50px;
    background-color: rgb(224, 224, 224);
    background-image: url(https://www.wallpaperflare.com/static/859/401/128/stadium-sport-baseball-sunset-wallpaper.jpg);
    background-position:center;
    background-size:cover;
    height: 200px;
    margin-bottom: none;
}

.user-header-width-div {
    max-width: 1500px;
    display: flex;
    align-items: center;
    margin: auto;
    padding-top: 85px;
}

.user-header-picture {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.user-header-information-container {
    color: white;
    padding-left: 14px;
    max-width: 1400px;
    width: 100%;
}

.user-header-name-div {
    font-size: 36px;
    color: white;
}

.user-email-photo-length {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 20px;
}

.all-user-photos-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-left: 10%;
}

.user-wrapper-all-photos {
    display: flex;
    flex-wrap: wrap;
}

.user-each-photo {
    width: 300px;
    height: 325px;
    object-fit: cover;
    object-position:center;
    padding-left: 5px;
}

.user-comment-section-photostream {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
}
