.whole-signup-page-container {
    background-image: url("https://images.hdqwalls.com/download/basketball-ring-1920x1080.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: relative;
    height: 605px;
    width: 352px;
    margin: auto;
    bottom: -20%;
    border-radius: 5px;
    padding: 10px 0;
}

.sign-up-div {
    font-size: 18px;
    margin-top: 10px;
}

.signup-form-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 40px;
    width: 304px;
    font-size: 15px;
    border: solid rgb(151, 151, 151);
    border-width: 1px;
    border-radius: 5px;
    background-color: #128FDC;
    color: white;
    font-weight: bold;
    margin: 1.3em 0;
    cursor: pointer;
}

.signup-form-container input {
    display: flex;
    height: 45px;
    width: 290px;
    font-size: 1em;
    border: solid rgb(151, 151, 151);
    border-width: 1px;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.policy-div {
    width: 240px;
    font-size: 12px;
    text-align: center;
    color: rgb(150, 150, 150);
    padding-bottom: 20px;
    border-bottom: 1px lightgray solid;
}

.tos-privacy {
    color: #006DAC;
}

.sign-up-errors-map {
    width: 300px;
    color: red;
    font-size: 12px;
    padding: 17px;
}

.sign-up-errors-div {
    padding-bottom: 1px;
}
