.all-photos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 224, 224);
    margin-bottom: 50px;
}

.wrapper-all-photos {
    max-width: 1550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 60px;
}


.photo-card {
    position: relative;
    overflow: hidden;
}

.each-photo {
    width: 500px;
    height: 300px;
    object-fit: cover;
    object-position:center;
    padding-left: 5px;
}

.photo-information {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    flex-direction: column;
    opacity: 0;
    margin-left: 4px;
    font-size: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
  }

.photo-card:hover .photo-information {
    opacity: 1;
  }

.photo-title {
    font-weight: bold;
    padding-bottom: 3px;
}

.user-comment-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 480px;
}

.user-name-div {
    color: rgb(190, 190, 190);
}

.number-of-comments {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}

.comment-length {
    margin-left: 4px;
    font-size: 14px;
}

.explore-div {
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 200px;
    width: 100%;
    position: fixed;
    top: 50px;
    z-index: 1;
}

.explore-word {
    align-items: center;
    box-sizing: border-box;
    color: #000;
    display: flex;
    font-size: 12pt;
    font-weight: 600;
    line-height: 170%;
    opacity: .75;
}
