.album-modal-container {
    height: 555px;
    width: 500px;
    padding: 30px;

}

.album-form-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 14vh;
}

.album-form-container input {
    height: 4vh;
    width: 485px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.photo-select-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 250px;
  overflow-y: auto;
}

.photo-select-label {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 5px;
}

.photo-select-label input {
    display: flex;
}

.select-photo-img {
  width: 110px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.photo-select-label.selected {
  outline: 3.5px solid #128FDC;
  border-radius: 5px;
}

.create-album-submit {
  height: 37px;
  width: 310px;
  color: white;
  font-size: 2vh;
  font-weight: bold;
  background-color: #128FDC;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px auto;
}

.grayed-out {
  background-color: gray;
  cursor: not-allowed;
}
